certifi==2019.9.11
cffi==1.13.2
chardet==3.0.4
coloredlogs==10.0
cryptography==2.8
entrypoints==0.3
humanfriendly==4.18
idna==2.8
jeepney==0.4.1
keyring==19.2.0
pycparser==2.19
python-dateutil==2.8.1
requests==2.22.0
SecretStorage==3.1.1
six==1.13.0
slack-webhook==1.0.2
urllib3==1.25.6
